@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html,
body{
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;
}

div#hero {
    line-height: 0;
}

.bg-grey{
    background-color: rgb(41, 40, 40);
}

.bg-pink{
    background-color: rgb(187, 92, 139) !important;
}

.text-pink{
    color: rgb(187, 92, 139) !important;
}

a{
    color: black !important;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(187, 92, 139) !important;
    color: white !important;
}


a:hover {color: white !important;}


.navbar{
    z-index: 2;
    position: absolute;
    width: 100%;
}



video {
    height: 100%;
    width: 100% !important;
  }

.btn-wrapper{ 
    text-align:center; position:absolute; bottom: 0px; margin: 0 auto; width:100%;}



.love-icon{
    height: 30px;
}


.map-responsive iframe{
    width: 100%;
    height: 20rem;
}

@media only screen and (max-width: 800px) {

    
}

